alphacsc==0.4.1
hvplot==0.7.3
matplotlib
mne==1.8.0
netCDF4
nibabel==3.2.1
nilearn==0.11.1
notebook==6.4.10
numpy==1.26.4
openpyxl==3.1.0
pandas
panel
param==1.12.1
pyqt5
pytest>=6.2.4
pyvistaqt==0.11.2
pyvista==0.34.0
pyyaml
scikit-learn
scipy
xarray>=0.20.0
pooch==1.5.2
vtk==9.3.1
